---
layout: layouts/category.njk
title: "Padel"
seoDescription: "Tous nos articles sur le padel : règles, techniques, équipement, terrains, classement FFT et conseils pour débuter et progresser en France."
permalink: /padel/
categoryName: "Padel"
categorySlug: "Padel"
categoryEmoji: "🎾"
---
